@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
}

li {
    list-style-type: none;
}

/* Start of navbar */

nav ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1vw;
    align-items: center;
}

nav ul li {
    width: fit-content;
    block-size: fit-content;
}

body>header {
    background-color: #4A4A4A;
}

body>header ul {
    padding: 0;
    height: 4em;
}

body>header ul>li {
    margin: 1em 2em;
}

header .main-title {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 1.2em;
}

body>header .nav-right>a {
    /* FAQS */
    text-decoration: none;
    font-size: 1em;
    font-weight: lighter;
    color: #FFFFFF;
    align-items: end;
    margin: .5em 0 .5em .5em;
    padding: .5em;
}

body>header ul>li:last-child {
    width: 150px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 4em;
}

.profile {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

/* End of navbar */
/* Start of add new ticket and search bar */

#add-and-search {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    margin: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    align-items: center;
    justify-content: space-between;
}

#add-and-search>a {
    /* New ticket*/
    grid-column: 1 / 2;
    color: #FFFFFF;
    background-color: #939391;
    font-size: 1em;
    font-weight: lighter;
    margin: 0 2em 0 2em;
    padding: .4em 1em;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    text-decoration: none;
}

#add-and-search>a:hover {
    background-color: #b7b7b7;
}

#add-and-search>input {
    /* search ticket */
    grid-column: 2 / 3;
    font-size: .8em;
    font-weight: lighter;
    width: 50%;
    padding: .6em 1.2em;
    border-style: none;
    border-radius: 4px;
    background-color: white;
    margin-left: 2em;
}

#add-and-search>input::placeholder {
    padding: 1em;
    color: #939391;
    text-align: start;
}

#add-and-search>#filters-div {
    grid-column: 3 / -1 ;
    justify-self: end;
}

/* End of add new ticket and search bar */
/* Start of filters */

#filters-button {
    border: none;
    background: none;
    cursor: pointer;
}

#filters-button>img {
    width: 40px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

#filters {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
}

#filters>h4 {
    margin: 1em 0 0 0;
    padding: 1em;
    text-align: center;
}

#filters>ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 1em;
}

#filters>ul>li {
    padding: 1em;
    justify-self: left;
    cursor: pointer;
}

#filters>ul>li>p {
    margin: 0;
    padding: 0;
}

#date-filter {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 80%;
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
}

#date-filter>h4 {
    margin: 1em 0 0 0;
    padding: 1em;
    text-align: center;
}

#date-filter>label {
    padding: 0 1em;
}

#date-filter>input {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #D9D9D9;
}

#date-filter>button {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #939391;
    color: #FFFFFF;
}

#date-filter>button:hover {
    background-color: #b7b7b7;
}

#agent-filter {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 80%;
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
}

#agent-filter>h4 {
    margin: 1em 0 0 0;
    padding: 1em;
    text-align: center;
}

#agent-filter>label {
    padding: 1em;
}

#agent-filter>select {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #D9D9D9;
    width: 85%;
}

#agent-filter>button {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #939391;
    color: #FFFFFF;
}

#agent-filter>button:hover {
    background-color: #b7b7b7;
}

#status-filter {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 80%;
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
}

#status-filter>h4 {
    margin: 1em 0 0 0;
    padding: 1em;
    text-align: center;
}

#status-filter>label {
    padding: 1em;
}

#status-filter>select {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #D9D9D9;
    width: 85%;
}

#status-filter>button {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #939391;
    color: #FFFFFF;
}

#status-filter>button:hover {
    background-color: #b7b7b7;
}

#hashtag-filter {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 80%;
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
}

#hashtag-filter>h4 {
    margin: 1em 0 0 0;
    padding: 1em;
    text-align: center;
}

#hashtag-filter>label {
    padding: 1em;
}

#hashtag-filter>select {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #D9D9D9;
    width: 85%;
}

#hashtag-filter>button {
    margin: 1em;
    padding: .5em;
    border-style: none;
    border-radius: 4px;
    background-color: #939391;
    color: #FFFFFF;
}

#hashtag-filter>button:hover {
    background-color: #b7b7b7;
}

/* End of filters */
/* Start of main content */

.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0 2em 2em 2em;
}

.departments {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify: center;
    margin: 0;
    padding:0;
    min-width: 120px;
}


.departments>li {
    
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}
.departments>li:hover{
    background-color:#939391;
    border: solid 1px #4A4A4A;
    color:#fff;
}

.departments>.active {
    background-color: #4A4A4A;
    color: white;
}

.departments>.active:hover{
    background-color: #4A4A4A;
    color: white;
}

#add-new-department{
    margin: 1em 0 1em 1em;
    font-size: small;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

#new-department {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #939391;
    border-radius: 0 0 5px 5px;
    padding: 1em;
}

#new-department .department-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#new-department h2 {
    text-align: center;
}


#new-department h4 {
    font-weight: 500;
}

#new-department input {
    width: 80%;
    height: 2em;
    margin: 0.5em;
}

#new-department button {
    width: 80px;
    background-color: #4A4A4A;
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin: .7em;
}

#new-department button:hover{
    background-color: #939391;
}

.tickets-list {
    grid-column: 2 / -1;
    text-align: center;
    width: auto;
    font-size: .8em;
    border-radius: 4px;
}

.tickets-list>ul {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    margin: 0 0 .1em 2em;
    padding: 0;
}

.tickets-list>ul>li {
    background-color: #fff;
    margin: .65em;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
}

.tickets-list>ul>li:hover{
    background-color: #f1efef;
}

.tickets-list>ul>li:first-child {
    margin-top:0;
}
.tickets-list>ul>li>ul {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding: 0;
    justify-content: space-between;
    white-space: nowrap;
}



.tickets-list>ul>li>ul>li {
    padding: .5em;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.tickets-list>ul>li>ul p {
    text-align: left;
    text-justify: center;
    padding: 0;
    width: auto;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tickets-list>ul>li>ul li:first-child{
    align-self: flex-start;
    flex: 1 10%;
}

.tickets-list>ul>li>ul li:nth-child(2){
    align-self: flex-start;
    flex: 1 40%;
}

.tickets-list>ul>li>ul li:nth-child(3){
    align-self: flex-end;
    flex: 1 20%;
}

.tickets-list>ul>li>ul li:nth-child(4){
    align-self: flex-end;
}


/* End of main content */
/* Start of footer */

body>footer {
    background-color: #4A4A4A;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    position: sticky;
    width: 100%;
    top: 100%;
}

/* End of footer */