@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #D9D9D9;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3.5fr .5fr;
    grid-template-rows: 1fr 1fr 7fr;
    margin: 0;
    padding: 0;
}

body > header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    background-color: #4A4A4A;
    height: fit-content;
}

body > header > a {
    font-size: 1.5em;
    font-weight: 900;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2px 6px;
    margin: .5em;
}

body > header > h2 {        /* FAQs */
    font-size: 1em;
    font-weight: lighter;
    color: #FFFFFF;
    align-items: end;
    margin: .5em 0 .5em .5em;
    padding: .5em;
}

body > header > img {
    grid-column: 3 / -1;
    width: 25px;
    margin: .5em 1em .5em .5em;
    padding: .5em;
    color: #FFFFFF;
}

.add-and-search {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;

    margin-top: 1em;
    padding: .6em .3em .3em .3em;
    align-items: center;
}

.add-and-search > h2 {
    grid-column: 1 / 2;

    color: #FFFFFF;
    background-color: #939391;
    font-size: 1.5em;
    font-weight: lighter;
    margin: .3em;
    padding: .4em 1em;
    width: auto;
    justify-self: start;
    justify-content: center;
    border-style: none;
}

.add-and-search > input {
    grid-column: 2 / -1;

    font-size: 1em;
    font-weight: lighter;

    height: 3vw;
    width: 70%;
    border-style: none;

}
.add-and-search > input::placeholder {
    padding: .5em;
    color: #939391;
}

.main-content {
    grid-column: 1 / -1;
    grid-row: 3 / -1;

}





