.new-ticket {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: white;
    margin: .55em;
    margin: 0 0em 1em 1.65em;
    justify-content: space-around;
}

.new-ticket > form {
    display: flex;
    flex-direction: column;
    margin: .5em;
    justify-content: space-between;
}

.new-ticket > h2 {
    margin: 1em 1em 0 1em;
}

.title-department{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-ticket > form > .title-department input,
.new-ticket > form > input, 
.new-ticket > form > textarea {
    border-radius: 6px;
    border-color: #4A4A4A;
    border-width: .1em;
    margin: 1em;
    padding: 1em;
    width: fit-content;
}

.new-ticket > form > .title-department > select{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px grey;
    display:inline-block;
    margin: 1em;
    padding: 1em;
    width: fit-content;
}

.new-ticket >  form > .title-department > input {
    text-align: start;
}
.new-ticket > form > .title-department > select {
    cursor: pointer;
    margin-left: 3em;
    text-align: center;
}
.new-ticket > form > #introduction {
    width: 95%;
    height: 55px;
}
.new-ticket > form > #description {
    width: 95%;
    height: 130px;
} 

.new-ticket > form > button {
    background-color: #D9D9D9;
    border-radius: 8px;
    border: none;
    width: fit-content;
    margin: 1em;
    padding: 1em 2em;
    align-self: flex-end;
}
.new-ticket > form > button:hover {
    background-color: #c1c1c1;
    padding: 1.1em 2.2em;
}
