.profile-info,
.edit-profile,
.change-password {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 2em;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    text-overflow: ellipsis;
}


@media screen and (min-height: 43.75em) {

    .profile-info,
    .edit-profile,
    .change-password {
        height: 400px;

    }
}


@media screen and (max-height: 43.6875em) {

    .profile-info,
    .edit-profile,
    .change-password {
        height: 350px;
    }
}

.header-edit-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cancel-done button,
.header-edit-profile button {
    background-color: #D9D9D9;
    border-radius: 7px;
    color: black;
    width: 100px;
    height: 32px;
    border: none;
    outline: none;
}

.cancel-done button:hover,
.header-edit-profile button:hover {
    background-color: #C7C7C7;
}

.change-password,
.edit-profile,
.profile-info label {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0px;
}

.profile-info p {
    margin: 0.5em 0;
    font-weight: 500;
    margin-top: 0px;
}

.edit-profile-form,
.change-password-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 2em 0;
}

.edit-profile-form input,
.change-password input {
    padding: 0.5em;
    border-bottom: 1px solid #000;
    margin: 0.5em 0;
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
}

.change-password input:hover,
.edit-profile-form input:hover {
    border: 1px solid #000;
    border-radius: 5px;
}

.cancel-done {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.change-pass-logout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.change-pass-logout a {
    color: #000;
}

.change-pass-logout a:hover {
    color: #4A4A4A
}